{
  "bracketSpacing": false,
  "printWidth": 120,
  "proseWrap": "never",
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {"files": "*.js", "options": {"parser": "babel"}},
    {"files": "*.ts", "options": {"parser": "typescript"}},
    {"files": "*.json", "options": {"parser": "json"}}
  ]
}
